# Challenge 1

In this challenge you will be working on **pokemons**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](pokemon.jpg)

Follow the instructions below and enter your code.

### Import all required libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np

### Import data set

Import data set `Pokemon.csv` from the `your-code` directory of this lab. Read the data into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [2]:
# import data set
df = pd.read_csv("Pokemon.csv")
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### Print first 10 rows of `pokemon`

In [4]:
# enter your code here
df.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

In [12]:
df["HP"].idxmax()

261

In [21]: dfrm.iloc[dfrm['A'].idxmax()]  # .ix instead of .iloc in older versions of pandas

In [14]:
df.iloc[df["HP"].idxmax()]

#                 242
Name          Blissey
Type 1         Normal
Type 2            NaN
Total             540
HP                255
Attack             10
Defense            10
Sp. Atk            75
Sp. Def           135
Speed              55
Generation          2
Legendary       False
Name: 261, dtype: object

In [17]:
df.iloc[df["Speed"].idxmax()]

#                           386
Name          DeoxysSpeed Forme
Type 1                  Psychic
Type 2                      NaN
Total                       600
HP                           50
Attack                       95
Defense                      90
Sp. Atk                      95
Sp. Def                      90
Speed                       180
Generation                    3
Legendary                  True
Name: 431, dtype: object

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

### Obtain the distinct values across `Type 1` and `Type 2`

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [25]:
# enter your code here
a = list(df["Type 1"].unique())

In [26]:
b = list(df["Type 2"].unique())

In [29]:
type_array = [a, b]

In [30]:
type_array

[['Grass',
  'Fire',
  'Water',
  'Bug',
  'Normal',
  'Poison',
  'Electric',
  'Ground',
  'Fairy',
  'Fighting',
  'Psychic',
  'Rock',
  'Ghost',
  'Ice',
  'Dragon',
  'Dark',
  'Steel',
  'Flying'],
 ['Poison',
  nan,
  'Flying',
  'Dragon',
  'Ground',
  'Fairy',
  'Grass',
  'Fighting',
  'Psychic',
  'Steel',
  'Ice',
  'Rock',
  'Dark',
  'Water',
  'Electric',
  'Fire',
  'Ghost',
  'Bug',
  'Normal']]

### Cleanup `Name` that contain "Mega"

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [ ]:
# enter your code here


# test transformed data

pokemon.head(10)

### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [31]:
# enter your code here
df["A/D Ratio"] = df["Attack"]/df["Defense"]

### Identify the pokemon with the highest `A/D Ratio`

In [32]:
# enter your code here
df.iloc[df["A/D Ratio"].idxmax()]

#                            386
Name          DeoxysAttack Forme
Type 1                   Psychic
Type 2                       NaN
Total                        600
HP                            50
Attack                       180
Defense                       20
Sp. Atk                      180
Sp. Def                       20
Speed                        150
Generation                     3
Legendary                   True
A/D Ratio                      9
Name: 429, dtype: object

### Identify the pokemon with the lowest A/D Ratio

In [33]:
# enter your code here
df.iloc[df["A/D Ratio"].idxmin()]

#                   213
Name            Shuckle
Type 1              Bug
Type 2             Rock
Total               505
HP                   20
Attack               10
Defense             230
Sp. Atk              10
Sp. Def             230
Speed                 5
Generation            2
Legendary         False
A/D Ratio     0.0434783
Name: 230, dtype: object

### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [41]:
# enter your code here
df["Combo Type"] = df["Type 1"] + "-" + df["Type 2"]

In [48]:
df.loc[df["Combo Type"].isna(),"Combo Type"] =  df["Type 1"]

Series([], Name: Combo Type, dtype: object)

In [36]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.000000,Grass-Poison
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.984127,Grass-Poison
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.987952,Grass-Poison
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.813008,Grass-Poison
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.209302,NaN

### Identify the pokemons whose `A/D Ratio` are among the top 5

In [50]:
# enter your code here
df.nlargest(n=5,columns="A/D Ratio")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,386,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.000,Psychic
347,318,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.500,Water-Dark
19,15,BeedrillMega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.750,Bug-Poison
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.125,Rock
348,319,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.000,Water-Dark

### For the 5 pokemons printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemons with the highest `A/D Ratio`.

In [53]:
# enter your code here
ct_list = list(df.nlargest(n=5,columns="A/D Ratio")["Combo Type"])

### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemons.

Your output should look like below:

![Aggregate](aggregated-mean.png)

In [57]:
# enter your code here
df.loc[df["Combo Type"] in ct_list,"Combo Type"]
In [3]: df[df['A'].isin([3, 6])]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [61]:
ct_pkmn = df[df['Combo Type'].isin(ct_list)]

In [66]:
ct_pkmn = df[df['Combo Type'].isin(ct_list)]
df = ct_pkmn

In [70]:
df.loc[df['Combo Type'] == "Bug-Poison"].select_dtypes(include="number").sum()

#             2390.000000
Total         4175.000000
HP             645.000000
Attack         820.000000
Defense        697.000000
Sp. Atk        510.000000
Sp. Def        712.000000
Speed          791.000000
Generation      28.000000
A/D Ratio       15.791863
dtype: float64

In [71]:
for i in ct_list:
    print(i)
    print(df.loc[df['Combo Type'] == i].select_dtypes(include="number").sum())

Psychic
#             14515.000000
Total         17653.000000
HP             2757.000000
Attack         2468.000000
Defense        2555.000000
Sp. Atk        3745.000000
Sp. Def        3131.000000
Speed          2997.000000
Generation      127.000000
A/D Ratio        44.239448
dtype: float64
Water-Dark
#             2086.000000
Total         2963.000000
HP             415.000000
Attack         720.000000
Defense        391.000000
Sp. Atk        533.000000
Sp. Def        381.000000
Speed          523.000000
Generation      19.000000
A/D Ratio       13.751694
dtype: float64
Bug-Poison
#             2390.000000
Total         4175.000000
HP             645.000000
Attack         820.000000
Defense        697.000000
Sp. Atk        510.000000
Sp. Def        712.000000
Speed          791.000000
Generation      28.000000
A/D Ratio       15.791863
dtype: float64
Rock
#             3691.000000
Total         3685.000000
HP             604.000000
Attack         930.000000
Defense        965.000000
Sp. Atk        365.000000
Sp. Def        525.000000
Speed          296.000000
Generation      35.000000
A/D Ratio       11.340818
dtype: float64
Water-Dark
#             2086.000000
Total         2963.000000
HP             415.000000
Attack         720.000000
Defense        391.000000
Sp. Atk        533.000000
Sp. Def        381.000000
Speed          523.000000
Generation      19.000000
A/D Ratio       13.751694
dtype: float64

<bound method DataFrame.sum of        #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
16    13                 Weedle      Bug  Poison    195  40      35       30
17    14                 Kakuna      Bug  Poison    205  45      25       50
18    15               Beedrill      Bug  Poison    395  65      90       40
19    15  BeedrillMega Beedrill      Bug  Poison    495  65     150       40
53    48                Venonat      Bug  Poison    305  60      55       50
..   ...                    ...      ...     ...    ...  ..     ...      ...
667  606               Beheeyem  Psychic     NaN    485  75      75       75
726  658               Greninja    Water    Dark    530  72      95       67
745  677                 Espurr  Psychic     NaN    355  62      48       54
746  678           MeowsticMale  Psychic     NaN    466  74      48       76
747  678         MeowsticFemale  Psychic     NaN    466  74      48       76

     Sp. Atk  Sp. Def  Speed  Generation  Legendary  A/D Ratio  Combo Type
16        20       20     50           1      False   1.166667  Bug-Poison
17        25       25     35           1      False   0.500000  Bug-Poison
18        45       80     75           1      False   2.250000  Bug-Poison
19        15       80    145           1      False   3.750000  Bug-Poison
53        40       55     45           1      False   1.100000  Bug-Poison
..       ...      ...    ...         ...        ...        ...         ...
667      125       95     40           5      False   1.000000     Psychic
726      103       71    122           6      False   1.417910  Water-Dark
745       63       60     68           6      False   0.888889     Psychic
746       83       81    104           6      False   0.631579     Psychic
747       83       81    104           6      False   0.631579     Psychic

[65 rows x 15 columns]>